@model ManagingRestaurant.Models.Cart.ShoppingCart
@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/shopping/cartCSS.css" />
    <link rel="stylesheet" href="~/css/shopping/cartResponse.css" />
</head>

<main>
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    <div class="products-cart">
                        <div>
                            <ul class="header-card">
                                <li class="col-3 col-sm-3 col-md-3">Name</li>
                                <li class="col-2 col-sm-2 col-md-2 text-center">Image</li>
                                <li class="col-1 col-sm-1 col-md-1 text-center">Price</li>
                                <li class="col-2 col-sm-2 col-md-2 text-center">Quantily</li>
                                <li class="col-2 col-sm-2 col-md-2 text-center">Total</li>
                                <li class="col-2 col-sm-2 col-md-2">Button</li>
                            </ul>
                            @foreach (var item in Model.Items)
                            {
                                <ul id="@item.Id">  
                                    <li class ="col-3 col-sm-3 col-md-3">@Html.DisplayFor(model => item.Name)</li>
                                    <li class="col-2 col-sm-2 col-md-2 text-center"><img src="@Url.Content("~/UploadedFiles/" + item.Image)" alt="image" style="width: 90px; height: 90px;" /></li>
                                    <li class="item_price col-1 col-sm-1 col-md-1 text-center">
                                        @Html.DisplayFor(model => item.Price)
                                    </li>
                                    <li class="item_quantity col-2 col-sm-2 col-md-2 text-center">
                                        @Html.DisplayFor(model => item.Quantity)
                                    </li>
                                    <li class="item_total_price col-2 col-sm-2 col-md-2 text-center">
                                        @Html.DisplayFor(model => item.TotalPrice)
                                        
                                    </li>

                                    <li class = "col-2 col-sm-2 col-md-2">
                                        <a class="btn btn-success cart_btn_add_1 text-white" onclick="IncreaseQuantity(this)" data-id="@item.Id">+</a> |
                                        <a class="btn btn-warning cart_btn_delete_1 text-white" onclick="DecreaseQuantity(this)" data-id="@item.Id">-</a> |
                                        <a class="btn btn-danger cart_btn_del_all text-white" asp-route-id="@item.Id" onclick="DeleteCartProduct(this)" data-id="@item.Id"><i class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                            }
                            <ul>
                                <li class="col-3 col-sm-3 col-md-3" ></li>
                                <li class="col-2 col-sm-2 col-md-2 text-center" ></li>
                                <li class="col-1 col-sm-1 col-md-1 text-center" ></li>
                                <li class="col-2 col-sm-2 col-md-2 text-center" >Total Money : </li>
                                <li class="total_price col-2 col-sm-2 col-md-2 text-center">@Html.DisplayFor(model => model.TotalPrice) </li>
                                <li class="col-2 col-sm-2 col-md-2"></li>
                            </ul>
                        </div>                     
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <a class="btn btn-danger text-white delete_cart_all_btn mr-3" onclick="DeleteCartAll()">Delete All</a>
                    <a asp-area="Payment" asp-controller="Home" asp-action="Index" class="btn_payment btn btn-info text-white cart_pay_btn">Pay Bill</a>
                </div>
            </div>
        </div>
    </section>

</main>


